.font-jetbrains {
    font-family: "JetBrains Mono", monospace !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}


.font-jetbrains-extrabold {
    font-family: "JetBrains Mono", monospace !important;
    font-weight: 800 !important;
}

.font-redressed {
  font-family: "Redressed",  serif !important;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
