.font-jetbrains {
    font-family: "JetBrains Mono", monospace !important;
}

.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.font-jetbrains-extrabold {
    font-family: "JetBrains Mono", monospace !important;
    font-weight: 800 !important;
}

.font-redressed {
  font-family: "Redressed",  serif !important;
}

#navbar {
    background-color: transparent;
}

#navbar.scrolled {
    background-color: #ebe8e8; /* Off-white color */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow to enhance the navbar */
}

/* Add this to your CSS */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-none {
    display: block;
    overflow: visible;
    white-space: normal; /* Ensure text wraps properly */
}

.testimonial p {
    margin: 0; /* Reset margin if needed */
}

.testimonial > div {
    margin: 0;
}

.read-more {
    /* Additional styles if needed for the testimonial "Read More" button */
    margin-left: 0px;
    text-align: center
}

.tab-active {
    color: #FD7706;
    border-bottom: 2px solid #FD7706;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* Initial state */
.heart-path {
  fill: transparent;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

/* Initial state for the border */
#heartStroke {
  stroke: #003366; /* Blue border */
  transition: stroke 0.3s ease;
}

/* State when active (heart fills and border turns red) */
.heart-active .heart-path {
  fill: #ff0000; /* Red heart when active */
}

/* Grow-Shrink animations */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Grow to 1.3 times its size */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8); /* Shrink to 0.8 times its size */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

/* Trigger grow animation when marking */
.heart-grow {
  animation: grow 0.3s ease;
}

/* Trigger shrink animation when unmarking */
.heart-shrink {
  animation: shrink 0.3s ease;
}

/* Optional: Style for button hover */
#heartButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
    .grid-cols-1 {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-2xl {
      font-size: 1rem;
    }
  }